body{
    font-size: 2rem;
    font-family: sans-serif;
    padding-top: 10px;
    background-color: rgb(100, 90, 77);
}
#app{
    text-align: center;
}
#app button{
    background-color: rgb(44, 103, 239);
    border-color: transparent;
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 10px;
}
[v-cloak]{
    display: none;
}